@font-face{
    font-family:"dinengschriftregular";
    src: url("fonts/DINEngschrift-Regular.ttf")format("truetype");
}
body{font-family: "open sans",sans-serif;}
header.header{background:url("../img/header.png");width:100%;height:100%;}
header form.pesquisa{padding-top: 35px;}
div.botaoEntrar button{margin-top:35px;}
nav#menuNavegacao{font-size:14px; font-family:"dinengschriftregular",sans-serif;font-weight:bold;}
nav#menuNavegacao ul.menu > li.menuLi{text-align: center;}
nav#menuNavegacao ul.menu > li.menuLi > a{text-decoration: none;color:#2476ff; border-top:1px solid #f0f5f7; display: block; position: relative;margin:0;border:0;padding:10px 15px;}
nav#menuNavegacao ul.menu > li > ul.subMenu{display:none;}
nav#menuNavegacao ul.menu > li > ul.subMenu li{padding-bottom:10px;}
nav#menuNavegacao ul.menu > li > ul.subMenu li > a{text-decoration: none;color:#2a4773;display: block; position: relative;margin:0;border:0;}
section#conteudo > div.conteudo > h1{padding-bottom:10px; border-bottom:1px groove #333;}
section#conteudo > div.conteudo > p{text-align: justify;}